{{ if and (isset .Site.Params "cc")  (in (slice "post" "posts") .Type) }}
<div class="post-archive">
    <ul class="post-copyright">
        <li><strong>原文作者：</strong><a rel="author" href="{{ .Site.BaseURL}}">{{ if isset .Site.Author "name" }}{{.Site.Author.name}}{{ else }}{{.Site.Title}}{{ end }}</a></li>
        <li style="word-break:break-all"><strong>原文链接：</strong><a href="{{ .Permalink}}">{{ .Permalink}}</a></li>
        <li>
        <strong>版权声明： </strong>本博客所有文章除特别声明外，均采用 <a href="https://creativecommons.org/licenses/by-nc-sa/4.0/deed.zh">CC-BY-NC-SA</a> 许可协议。

        </li>
    </ul>
</div>
<br/>
{{ end }}
